/* http://www.colors.commutercreative.com/grid/ */

:root {
    --accent-colour: grey;
    --bg-colour: #161616;
}

* {
    box-sizing: border-box;
    font-family: arial;
    margin: 0;
    padding: 0;
    font-size: 80% -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}

body {
    background-color: var(--bg-colour);
}

.blink {
    animation: blinker 0.75s linear infinite;
    color: var(--accent-colour);
}

@keyframes blinker {
    0% {
        opacity: 0
    }
}

.topPanel {
    border-bottom: medium solid var(--accent-colour);
}

.topPanel li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5vw;
    margin-bottom: 1vw;
}

.topPanel ul {
    background-color: var(--bg-colour);
}

ul {
    list-style-type: none;
}

.dropdown {
    background-color: var(--bg-colour);
    color: var(--accent-colour);
    border-radius: 0.1vw;
}

.button {
    font-size: 120%;
    border-radius: 0.2vw;
    height: 5vw;
    width: 8vw;
    background: white;
    color: var(--accent-colour);
    text-align: center;
    line-height: 2vw;
    cursor: pointer;
    border: 0vw solid var(--accent-colour);
    border-bottom: 1vw solid var(--accent-colour);
    opacity: 0.85;
    margin: 0.5vw 0 0 0;
}

.button:active {
    opacity: 0.3;
}

.click {
    opacity: 0.3;
}

.timer {
    width: auto;
    font-weight: 600;
    color: var(--accent-colour);
    background-color: var(--bg-colour);
    vertical-align: middle;
}

#cycleTimer {
    font-size: 800%;
    margin-left: 2vw;
    margin-bottom:
}

#timerInfo {
    font-size: 425%;
    color: #4CAF50;
}

#topList {
    border-bottom: medium solid var(--accent-colour);
    ;
}

.checklist-div {
    margin: 5vw;
}

ul#topList {
    height: 10vw;
}

.sideList {
    vertical-align: middle;
    text-align: right;
    color: var(--accent-colour);
    ;
    background-color: var(--bg-colour);
    ;
}

#main-body {
    background-color: var(--bg-colour);
    ;
    width: 50%;
    border-left: medium solid var(--accent-colour);
    ;
    margin-top: -12.3vw;
    margin-bottom: -0.2vw;
    height: 1000px;
}

#main-body li {
    display: inline-block;
    vertical-align: top;
    background-color: var(--bg-colour);
    ;
}

.camera {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 300%;
    float: left;
    margin: medium solid var(--accent-colour);
    display: inline-block;
    vertical-align: text-top;
    width: 50vw;
    background-color: var(--bg-colour);
}

#state {
    background-color: var(--bg-colour);
    align: center;
    width: 16vw;
    background-color: var(--bg-colour);
    align-items: center content:url("img/icons/stationaryred.png");
}

#stateDiv {
    border-right: medium solid var(--accent-colour);
    border-left: medium solid var(--accent-colour);
    width: 18vw;
    height: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vw;
}

#compassDiv {
    display: flex;
    align-items: center;
    background-color: var(--bg-colour);
    border-bottom: medium solid var(--accent-colour);
    padding: 4vw 0 4vw 0;
}

#compass {
    height: 18vw;
    background-color: var(--bg-colour);
    margin-top: 0px;
    margin: 0 auto;
    /* content: url("img/robotred.png"); */
}

#pegPostion {
    background-color: var(--bg-colour);
    border: medium solid var(--accent-colour);
    border-bottom: 10vw;
    width: 100%;
    float: right;
    border-bottom: medium solid var(--accent-colour);
    height: 100%;
}

form {
    color: white;
    font-size: 5vh;
}

.inital-hide {
    display: none;
}

input[type=checkbox] {
    width: 4vh;
    height: 4vh;
}

.red {
    background: #f23030;
}

.blue {
    background: #4380f2;
}

.light_off {
    background: transparent;
}

.light_on {
    background: #22f92a;
}

div.square {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#cube_light.square {
    padding: 50px;
    border: 3px solid #22f92a;
}

table {
    color: white;
    padding-left: 3vw;
}

#robot-info {
    float: left;
    padding: 3vh;
}

#submit-button {
    padding: 30px;
    border-radius: 5px;
}

#main_table {
    margin-left: 4.5vw;
    padding: 4px;
}

#connection svg {
    vertical-align: middle;
}
