/* http://www.colors.commutercreative.com/grid/ */

:root {
    --accent-colour: grey;
    --bg-colour: #161616;
}

* {
    border: 0px dotted rgb(24, 218, 0);
    box-sizing: border-box;
    font-family: arial;
    margin: 0;
    padding: 0;
    font-size: 80% -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}

body {
    background-color: var(--bg-colour);
}

.blink {
    animation: blinker 0.75s linear infinite;
    color: var(--accent-colour);
}

@keyframes blinker {
    0% {
        opacity: 0
    }
}

.topPanel div {
    background-color: var(--bg-colour);
    ;
}

.topPanel li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5vw;
    margin-bottom: 1vw;
}

.topPanel ul {
    background-color: var(--bg-colour);
    ;
    border-bottom: medium solid var(--accent-colour);
    ;
}

ul {
    list-style-type: none;
}

.dropdown {
    background-color: var(--bg-colour);
    ;
    color: var(--accent-colour);
    ;
    border-radius: 0.1vw;
}

.button {
    font-size: 120%;
    border-radius: 0.2vw;
    height: 5vw;
    width: 8vw;
    background: white;
    color: var(--accent-colour);
    ;
    text-align: center;
    line-height: 2vw;
    cursor: pointer;
    border: 0vw solid var(--accent-colour);
    ;
    border-bottom: 1vw solid var(--accent-colour);
    ;
    opacity: 0.85;
    margin: 0.5vw 0 0 0;
}

.button:active {
    opacity: 0.3;
}

.click {
    opacity: 0.3;
}

.timer {
    width: auto;
    font-weight: 600;
    color: var(--accent-colour);
    ;
    background-color: var(--bg-colour);
    ;
}

#cycleTimer {
    font-size: 800%;
    margin-left: 2vw;
    margin-bottom:
}

#timerInfo {
    font-size: 425%;
    color: #4CAF50;
}

#topList {
    border-bottom: medium solid var(--accent-colour);
    ;
}

ul#topList {
    height: 10vw;
}

.sideList {
    vertical-align: middle;
    text-align: right;
    color: var(--accent-colour);
    ;
    background-color: var(--bg-colour);
    ;
}

#Connection {
    color: red;
    font-weight: 700;
    background-color: var(--bg-colour);
    ;
    font-size: 150%;
    width: 12vw;
    margin-right: 1vw;
}

#main-body {
    background-color: var(--bg-colour);
    ;
    display: inline-block;
    width: 50%;
    border-right: medium solid var(--accent-colour);
    ;
    margin-top: -12.3vw;
    margin-bottom: -0.2vw;
}

#main-body li {
    display: inline-block;
    vertical-align: top;
    background-color: var(--bg-colour);
    ;
}

.camera {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 300%;
    float: left;
    margin: medium solid var(--accent-colour)
    display: inline-block;
    vertical-align: text-top;
    height: 30vw;
    width: 50vw;
    background-color: var(--bg-colour);
}

#state {
    background-color: var(--bg-colour);
    align: center;
    width: 16vw;
    background-color: var(--bg-colour);
    align-items: center
}

#stateDiv {
    border-right: medium solid var(--accent-colour);
    border-left: medium solid var(--accent-colour);
    width: 18vw;
    height: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vw;
}

#compassDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 18vw;
    background-color: var(--bg-colour);
    ;
    margin: 0;
}

#compass {
    height: 12vw;
    background-color: var(--bg-colour);
    ;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

#pegPostion {
    background-color: var(--bg-colour);
    ;
    border: medium solid var(--accent-colour);
    ;
    border-bottom: 10vw;
    width: 100%;
    float: right;
    border-bottom: medium solid var(--accent-colour);
    ;
    height: 100%;
}

#space {
    border-bottom: medium solid var(--accent-colour);
    ;
    margin: -4px 0 0 0;
}

.checklist-div {
    padding-top: 10vh;
    padding-left: 10vh;
    color: white;
    font-size: 5vh;
}

.inital-hide {
    display: none;
}

input[type=checkbox] {
    width: 4vh; 
    height: 4vh;
}

.red {
    background: #f23030;
}
.blue{
    background: #4380f2;
}
.light-green {
    background: #22f92a;
}
.green{
    background: #125915;
}
div.square {
    width: 50px;
    height: 50px;
    border-radius: 5px
}

table{
    color: white;
}

#robot-info{
    float: right;
    padding-right: 10vh;
}