/* http://www.colors.commutercreative.com/grid/ */

:root {
    --accent-colour: grey;
    --bg-colour: #161616;
    --alliance-colour: grey;
    --enemy-colour: grey;

    background-color: var(--bg-colour);
    color: white;
    font-family: Comic Sans MS, Comic Neue, Arial, sans-serif;
    font-size: 20px;
    user-select: none;
}

.red-alliance {
    --alliance-colour: #f23030;
    --enemy-colour: #4380f2;
    --accent-colour: #c62828;
}

.blue-alliance {
    --alliance-colour: #4380f2;
    --enemy-colour: #f23030;
    --accent-colour: #3565bf;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#top-pane {
    border-bottom: medium solid var(--accent-colour);
    color: var(--accent-colour);
    position: absolute;
    width: 50%;
}

.timer {
    width: auto;
    font-weight: 600;
    vertical-align: middle;
    margin-right: 5vw;
}

#cycleTimer {
    font-size: 6rem;
    margin-left: 2vw;
}

#checklist {
    background-color: var(--bg-colour);
    color: white;
    font-size: 2em;
    height: 100%;
    width: 100%;
    padding: 1em 4em;
    margin-top: 7.5rem;
    position: absolute;
    z-index: 1000;
    border-top: medium solid var(--accent-colour);
}

#checklist input {
    width: 4vh;
    height: 4vh;
}

#main-body {
    border-left: medium solid var(--accent-colour);
    float: right;
    width: 50%;
    height: 100%;
}

#camera {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 300%;
    float: left;
    vertical-align: text-top;
    margin: 9rem auto;
    width: 50%;
}

#compass-container {
    border-top: medium solid var(--accent-colour);
    padding: 1em;
}

#compass {
    height: 18em;
    display: block;
    margin: auto;
}

#robot-info > label,
#powerup-field > label {
    display: block;
}

.square {
    width: 2em;
    height: 2em;
    border-radius: 5px;
    display: inline-block;
}

.light {
    border: 3px solid var(--light-colour);
}

.light-on {
    background-color: var(--light-colour);
}

#arm-light {
    --light-colour: #ff9100;
}

#intake-light {
    --light-colour: #ff00d4;
}

#kicker-light {
    --light-colour: #d9ff00;
}

#cube-light {
    --light-colour: #22f92a;

    padding: 2em;
}

#cube-indicator,
#robot-info,
#powerup-field {
    display: inline-block;
    padding: 1.5em;
}

#cube-indicator {
    vertical-align: top;
}

#powerup-field .square {
    border: medium solid grey;
}

#powerup-field > [alignment="L"] > .field-left,
#powerup-field > [alignment="R"] > .field-right {
    background-color: var(--alliance-colour);
    border: none;
}

#powerup-field > [alignment="L"] > .field-right,
#powerup-field > [alignment="R"] > .field-left {
    background-color: var(--enemy-colour);
    border: none;
}

#connection {
    vertical-align: middle;
    margin-left: 3em;
}
