/* http://www.colors.commutercreative.com/grid/ */

* {
    border: 0px dotted rgb(24, 218, 0);
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
    padding: 0;
    font-size: 80% -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}

body {
    background-color: #E0E0E0
}

.topPanel div {
    background-color: #101828;
}

.topPanel li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3.5vw;
    margin-bottom: 1vw;
}

.topPanel ul {
    background-color: #101828;
    border-bottom: medium solid #3565bf;
}

ul {
    list-style-type: none;
}

.dropdown {
    background-color: #101828;
    color: #3565bf;
}

.button {
    font-size: 120%;
    border-radius: 0.2vw;
    height: 5vw;
    width: 8vw;
    background: white;
    color: #3565bf;
    text-align: center;
    line-height: 2vw;
    cursor: pointer;
    border: 0vw solid #3565bf;
    border-bottom: 1vw solid #3565bf;
    opacity: 0.85;
    margin: 0.5vw 0vw;
}

.button:active {
    opacity: 0.3;
}

.activeReverse {
    opacity: 0.3;
}

#cycleTimer {
    width: 20.9vw;
    font-size: 800%;
    font-weight: 600;
    margin-left: 2vw;
    color: #3565bf;
    background-color: #101828;
}

#topList {
    border-bottom: medium solid #3565bf;
}

.sideList {
    vertical-align: middle;
    display: ;
    text-align: right;
    color: #3565bf;
    background-color: #101828;
}

#Connection {
    color: #00CC18;
    font-weight: 700;
    background-color: #101828;
    font-size: 150%;
    width: 12vw;
    margin-right:1vw;
}

#main-body {
    background-color: #E0E0E0;
    display: inline-block;
    width: 50%;
    border-right: medium solid #3565bf;
}

#main-body li {
    display: inline-block;
    vertical-align: top;
    background-color: #E0E0E0;
}

#camera {
    float: left;
    border-left: medium solid #3565bf;
    border-bottom: medium solid #3565bf;
    display: inline-block;
    vertical-align: text-top;
    width: 50%;
    background-color: #E0E0E0;
}

#robotState {
    font-size: 24pt;
    font-weight: 600;
    border-right: medium solid #3565bf;
    border-left: medium solid #3565bf;
    width: 18vw;
    height: 18vw;
    background-color: #E0E0E0;
    margin-right: auto;
    margin: 0 0 0 0;
}

#compassDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 18vw;
    background-color: #E0E0E0;
}

#compass {
    height: 12vw;
    background-color: #E0E0E0;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

#pegPostion {
    background-color: #E0E0E0;
    border: medium solid #3565bf;
    margin: -4px 0 0 0;
}

#cameraName {
    background-color: #E0E0E0;
    margin: 0 50vw 0 0;
    border-left: medium solid #3565bf;
    border-right: medium solid #3565bf;
    border-bottom-width: 0px;
    font-size: 250%;
    font-weight: 600;
    font-family: arial;
    width: 100%;
}

#space {
    border-bottom: medium solid #3565bf;
    margin: -4px 0 0 0;
}
