
* {
    font-family: Arial;
}

.OperatorUI {
    background-color:white
}

.Area {
    border-style: solid;
    border-color:#9d282d;
    border-width: 0.3vw;
    border-radius: 10px;
}

#auto-choice {
    position:absolute;
    left: 25vw;
    top: 75vh;
}

#heading {
    position:absolute;
    left:20%;
    width:70%;
    top:58vh;
}

#ontarget {
    position:relative;
    left:2.5vw;
    top:3vh;
    background-color: red;
}
#intakespeed {
    position:relative;
    left: 2.5vw;
    top: 6vh;
    background-color: orange;
}
#shooterspeed {
    position:relative;
    left:2.5vw;
    top:9vh;
    background-color: orange;
}

.StatusDisplay {
    font-weight: bold;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    width: 15vw;
    height: 10vh;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    border-radius:0.5vw;
}

#left-box {
    position:absolute;
    left: 1vw;
    top: 1vh;

    width: 20vw;
    height: 97vh;
}

#right-box {
    position:absolute;
    left: 22.5vw;
    top: 1vh;
    width: 75.7vw;
    height: 97vh;
}

#text-data {
    position:relative;
    text-align:center;
}

#position-display {
    position:relative;
    left:1.5vw;
}

#position-display-title{
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

#position-display-container {
    width: 20vw;
    height: 20vw;
    position: relative;
    background:#cccccc;
    left: 1vw;
}

#position-display-robot {
    width: 1.5vw;
    height: 2vw;
    position:relative;
    background-color:blue;
    top = 10vw;
    left = 10vw;
}

#vision-camera-img {
  left: 57.5vw;
  top:  50vh;
  width: 57.6vh;
  height: 43.2vh;
}

.camera-img-class {
    position: fixed;
    left: 57.5vw;
    top: 3vh;
  width: 57.6vh;
  height: 43.2vh;
}
