/* http://www.colors.commutercreative.com/grid/ */
:root {
  --accent-colour: #C62828;
  --bg-colour: #161616;
}

* {
    border: 0px dotted rgb(24, 218, 0);
    box-sizing: border-box;
    font-family: arial;
    margin: 0;
    padding: 0;
    font-size: 80% -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}

body {
    background-color: var(--bg-colour);
}

.blink {
    animation: blinker 0.75s linear infinite;
    color: red;
}

@keyframes blinker {
    0% {
        opacity: 0
    }
}

.topPanel div {
    background-color: var(--bg-colour);;
}

.topPanel li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5vw;
    margin-bottom: 1vw;
}

.topPanel ul {
    background-color: var(--bg-colour);;
    border-bottom: medium solid var(--accent-colour);;
}

ul {
    list-style-type: none;
}

.dropdown {
    background-color: var(--bg-colour);;
    color: var(--accent-colour);;
    border-radius: 0.1vw;
}

.button {
    font-size: 120%;
    border-radius: 0.2vw;
    height: 5vw;
    width: 8vw;
    background: white;
    color: var(--accent-colour);;
    text-align: center;
    line-height: 2vw;
    cursor: pointer;
    border: 0vw solid var(--accent-colour);;
    border-bottom: 1vw solid var(--accent-colour);;
    opacity: 0.85;
    margin: 0.5vw 0 0 0;
}

.button:active {
    opacity: 0.3;
}
.miniButton {
    font-size: 90%;
    border-radius: 0.2vw;
    height: 5vw;
    width: 4vw;
    background: white;
    color: var(--accent-colour);;
    text-align: center;
    line-height: 2vw;
    cursor: pointer;
    border: 0vw solid var(--accent-colour);;
    border-bottom: 1vw solid var(--accent-colour);;
    opacity: 0.85;
    margin: 0.5vw 0 0 0;
}
.click{
    opacity: 0.3;

}

.timer {
    width: auto;
    font-weight: 600;
    color: var(--accent-colour);;
    background-color: var(--bg-colour);;
}

#cycleTimer {
    font-size: 800%;
    margin-left: 2vw;
}

#timerInfo {
    font-size: 425%;
    width: 14vw
}

#topList {
    border-bottom: medium solid var(--accent-colour);;
}

.sideList {
    vertical-align: middle;
    text-align: right;
    color: var(--accent-colour);;
    background-color: var(--bg-colour);;
}

#Connection {
    color: red;
    font-weight: 700;
    background-color: var(--bg-colour);;
    font-size: 150%;
    width: 12vw;
    margin-right: 1vw;
}

#main-body {
    background-color: var(--bg-colour);;
    display: inline-block;
    width: 50%;
    border-right: medium solid var(--accent-colour);;
}

#main-body li {
    display: inline-block;
    vertical-align: top;
    background-color: var(--bg-colour);;
}

#camera {
    float: left;
    border-left: medium solid var(--accent-colour);;
    border-bottom: medium solid var(--accent-colour);;
    display: inline-block;
    vertical-align: text-top;
    width: 50%;
    background-color: var(--bg-colour);;
}
#robotState li {
    border-right: medium solid var(--accent-colour);;
    border-left: medium solid var(--accent-colour);;
    width: 18vw;
    height: 18vw;
    background-color: var(--bg-colour);;
    align-items: center
}

#robotState {
    width: auto;
    height: 6vw;
    background-color: var(--bg-colour);;
    align-items: center;
    margin: 5vw 0 0 2.5vw;
}
#stateDiv {
    border-right: medium solid var(--accent-colour);;
    border-left: medium solid var(--accent-colour);;
    width: 18vw;
    height: 18vw;
    align-self: center;
}
#compassDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 18vw;
    background-color: var(--bg-colour);;
    margin: 0 0 0 6vw;
}

#compass {
    height: 12vw;
    background-color: var(--bg-colour);;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

#pegPostion {
    background-color: var(--bg-colour);;
    border: medium solid var(--accent-colour);;
    margin: -4px 0 0 0;
    width: 50%;
    float: right;
    border-bottom: medium solid var(--accent-colour);;
}

#cameraName {
    background-color: var(--bg-colour);;
    margin: 0 50vw 0 0;
    border-left: medium solid var(--accent-colour);;
    border-right: medium solid var(--accent-colour);;
    border-bottom-width: 0px;
    font-size: 250%;
    font-weight: 600;
    font-family: arial;
    color: var(--accent-colour);;
    width: 100%;
}

#space {
    border-bottom: medium solid var(--accent-colour);;
    margin: -4px 0 0 0;
}
